@model IEnumerable<Product>

<div class="container">

    <h1>Products</h1>

    <a asp-controller="Home" asp-action="Index"> &lt;&lt; Tillbaka till startsidan</a>

    <div class="row">
        @foreach (var product in Model)
        {
            <div class="col-12">

                <a asp-action="Get" asp-route-id="@product.Id">@product.Name</a>
                @*<a href="/product/get/@product.Id">@product.Name</a>*@

                <br />
                <div class="alert alert-info">@product.Description</div>

            </div>
            <hr />
        }
    </div>

    @*<ul>
            @foreach (var product in Model)
            {
            <li>
                <a href="/product/get/@product.Id">@product.Name</a>
            </li>
            }
        </ul>*@

</div>

