@*@model IEnumerable<Product>*@
@model ProductViewModel


<h1>Products</h1>

<a asp-controller="Home" asp-action="Index"> &lt;&lt; Tillbaka till startsidan</a>
<br />
<br />
<a asp-controller="Product" asp-action="AddProduct">Skapa ny produkt &gt;&gt;</a>
<br />

<hr />

<div class="row">
    @foreach (var product in Model.Products)
    {
        <div class="col-12">

            <a asp-action="GetProduct" asp-route-id="@product.Id">@product.Name</a>

            [<a asp-action="DeleteProduct" asp-route-id="@product.Id">Radera</a>]
            [<a asp-action="UpdateProduct" asp-route-id="@product.Id">Updatera</a>]
            @*<a href="/product/get/@product.Id">@product.Name</a>*@

            <br />
            <div class="alert alert-info">@product.Description</div>

        </div>
        <hr />
    }
</div>
